@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome to NoteIt.io!</h2>
<form>
    <button type="submit" asp-page="./Account/Login">Log in</button>
    <button type="submit" asp-page="./Account/Register">Register</button>
</form>
